.footer{
    padding: 50px 0;
    background-color: var(--color-white);
    text-align: center;
}

.footer .logo a img{
    width: 170px;
    height: auto;
    object-fit: cover;
    object-position: center;
} 

.footer .terms-policy{
    color: var(--color-black);
    margin-top: 15px;
}

.footer .terms-policy a{
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;

}

.footer p{
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    padding-top: 15px;
}