body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif !important;
  background: white;
}

:root {
  --color-black: #141416;
  --color-light-black: #333333;
  --color-gry: #b1b1b1;
  --color-white: #ffff;
  --color-blue: #00AEEF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.blue-lg-btn {
  border-radius: 5px;
  background-color: var(--color-blue);
  padding: 10px 45px;
  color: var(--color-white);
}

.icon-spacing{
  padding-left: 10px;
}